body{
    background-image: url("/img/bg.png");
	width: auto;
	height:auto;
}

#table{
    width: 100%; 
    float: left;
} 
.searchtbl{
   background-color: black; 
   width: 50%;
   float: right; 
   margin-left: 10px;
   margin-right: 10px; 
   margin-top: 35px;

}
    table.searchtbl td, table.pricing th {
        text-align: center;
       padding: 0px 2px 0px 2px;
        border: 1px;
    }

    table.searchtbl th {
        background-color: green;
        border: 1px solid greenyellow;
        color: greenyellow;
         font-family: 'Times New Roman', Times, serif
    }
    table.searchtbl td {
        border: 1px solid green;
         font-size: 14px;
        font-family: Arial;
   
    }
   .highlighted {
        color: white;
    }

    table.searchtbl {
        border: 0px;
        border-spacing: 0px;
    }

    .cur_col {
        background-color: rgb(209, 164, 68) !important;
        border: 1px solid rgb(14, 11, 5) !important;
        border-left: 0px solid #CFE3F9 !important;
        border-right: 0px solid #CFE3F9 !important;
    }

    .cur_cell {
        background-color: #0a0ae9 !important;
        border: 0px solid #706d5e !important;
        border: 0px solid rgb(11, 78, 150) !important;
    }

    .cur_row {
        background-color: rgb(209, 164, 68) !important;
        border: 1px solid rgb(10, 8, 2) !important;
        border-top: 0px solid rgb(209, 164, 68) !important;
        border-bottom: 0px solid rgb(209, 164, 68) !important;
    }


.frm {
	float: right;
    padding: 10% 20% 0px 0px; 
    margin-top: 30px;
}

* {
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.bdt > thead > tr > th, .bdt > tbody > tr > td {
	font-size: 13px;
}

.bdt tr:last-child td, .bdt tr:last-child th {
    border-bottom: 2px solid #1b1916;
}

.bdt > tbody > tr > td, .bdt > tbody > tr > th, .bdt > tfoot > tr > td, .bdt > tfoot > tr > th, .bdt > thead > tr > td, .bdt > thead > tr > th {
    border-color: #e6e7ed;
    padding: 1px 0px 18px 53px;

}
.nota {
    color: #fa0909
}
fieldset {
    position: inherit;
    border: none;
    padding: 0;
}
legend {
    float: left;
    padding: 0;
    margin-right: 5px;
    width: 50px;
    text-align: right;
}
label {
    position: absolute;
    left: -9999px;
}

#id{
    width: 80px;
    background-color: bisque;
}
#company{
    width: auto;
}
#name{
    width: auto;
    text-transform: capitalize;
    
}

#m{
    width: 100px;
    text-transform: capitalize;
}
#s{
    width: 100px;
     text-transform: capitalize;
}

#g{
    width: 90px;
    background-color: ghostwhite;
      text-transform: capitalize;
}

td {
  cursor: pointer;
}

.jumbotron{
    height: 120px;
    padding-bottom: 50px;
    padding-top: 5px
}

.dateTime{
    float: right;
    padding: 20px 50px 0px 0px;
    background-color: #fa0909;
    height: auto;
    width: auto;
}
.date{
    font-size: 50px;
    float: right;
    padding-right: 50px;
    color: rgb(62, 71, 62);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.time{
    font-size: 20px;
    float: right;
    padding-bottom: 0px;
    padding-right: 50px;
    color: rgb(97, 100, 77);
    font-family: 'Times New Roman', Times, serif;
}

.msg{
    font-size: 20px;
    float: right;
    padding-bottom: 0px;
    padding-right: 70px;
    color: rgb(97, 100, 77);
    font-family: 'Times New Roman', Times, serif;
}
.btnShow{
    height: 14px;
    width: 20px;
    padding-top: 0px;
}

.table tbody{
         text-transform: capitalize;
}

#btnExcel{
    float: right;
}